@media (max-width: 600px) {
    .page404 {
        &__header {
            height: 100px;
            padding-right: 20px;
            padding-left: 20px;

            &__text {
                font-size: 20px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        &__body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &__scrambler {
                width: 98%;

                &__heading {
                    font-size: 2rem;
                }

                &__text {
                    font-size: 1.35rem;
                }
            }

            &__navigate {
                column-gap: 20px;
                row-gap: 20px;

                &__cells {
                    & > h3 {
                        font-size: 15px;
                    }

                    &__icon {
                        & > svg {
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
            }
        }
    }   
}