.cron {
    transition: background 0.2s ease, color 0.2s ease;

    &__container {
        max-width: 790px;
        margin: auto;
        padding: 0 15px 0 10px;
    }

    &__header {
        justify-content: center;
        align-items: center;
        display: flex;
        margin-top: 9%;
        height: 150px;
        background-image: linear-gradient(to right, rgba(0,0,0,0), var(--header-bg), rgba(0,0,0,0));
        transition: background 0.2s ease;

        &__text {
            font-family: 'Roboto';
            font-weight: 700;
            font-size: 28px;
            color: var(--animation-text);
            padding: 0 100px 0 100px;
            user-select: none;
        }
    }

    &__days {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        padding: 30px 0 30px;
        user-select: none;

        &-count {
            font-family: 'Inter-Medium' !important;
            font-weight: normal;
            font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl" !important;
            font-weight: 700;
            font-size: 60px;
            color: var(--accent-primary);
            margin-left: -10px;
            user-select: none;
        }

        &-text {
            font-family: 'Roboto';
            font-weight: 700;
            font-size: 18px;
            color: var(--text-secondary);
            margin-left: -10px;
            user-select: none;
        }

        &-beststreak {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;

            & .-text {
                display: flex;
                align-items: center;
                gap: 5px;
                padding: 5px 8px;
                border-radius: 6px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                background-color: var(--tagbg-opaq);
                transform: translateX(-45px);
                transition: 0.5s ease;
            }
            & .-num {
                display: flex;
                justify-content: end;
                position: absolute;
                top: 0;
                right: 0;
                padding: 5px 8px;
                border-radius: 6px;
                min-width: 100px;
                max-width: 100px;
                white-space: nowrap;
                background-color: var(--tagbg-opaq);
            }

            & .-streak-icon {
                fill: none;
                stroke: var(--accent-primary);
            }
            & .-streak-text {
                margin: 0;
                font-size: 16px;
                color: var(--heading-primary);
            }
            & .-streak-num {
                margin: 0;
                font-size: 16px;
                color: var(--heading-primary);
            }
            &:hover {
                transition: 0.5s;
                & .-text {
                    transform: translateX(-92px);
                }
                & .-streak-num {
                    color: var(--accent-primary);
                }
            }
        }
    }

    &__info {
        padding: 10px 0 20px 0;
        user-select: none;
        &-text {
            margin-bottom: 0;
            font-size: 1.05rem;
            color: var(--heading-primary);
            
            
            & > span {
                color: var(--accent-primary);
            }
        }
    }

    &__subheader {
        position: sticky !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
        top: 74px;
        right: 0;
        padding: 5px 0 5px;
        margin-bottom: 10px;
        background: var(--background);
        transition: background 0.2s ease;
        user-select: none;

        &__hintwrapper {
            display: flex;
            align-items: center;
            gap: 5px;

            &-text {
                margin: 0;
                color: var(--animation-text);
            }

            &-icon {
                & > path, circle {
                    fill: var(--accent-primary)
                }
            }
        }

        &__buttonwrapper {
            display: flex;
            align-items: center;
            gap: 5px;
            cursor: pointer;

            &-text {
                margin: 0;
                color: var(--text-secondary);
            }

            &-icon {
                & > path {
                    fill: var(--accent-primary)
                }
            }
        }
    }
    
    &__tabcontainer {
        display: flex;
        gap: 20px;
        position: relative;
        padding: 5px;
        margin-bottom: 20px;
        background-color: var(--tagbg-hover);
        border-radius: 10px;

        * {
            z-index: 2;
        }

        & input[type="radio"] {
            display: none;
        }

        & .tab {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 5px;
            margin: 0;
            width: 200px;
            font-size: 16px;
            cursor: pointer;
            transition: color 0.15s ease-in;
            color: var(--heading-primary);
        }
        & .-tab-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: var(--accent-primary);
            transition: 0.15s ease-in;
            & .-icon {
                width: 22px;
                height: 22px;
                fill: var(--background);
            }
        }

        & input[type="radio"] {
            &:checked {
                & + label {
                    color: var(--badge-text);
                    & > .-tab-icon {
                        background-color: var(--background);
                        & .-icon {
                            fill: var(--accent-primary);
                        }
                    }
                }
            }
        }

        & input[id="dailyprogress"] {
            &:checked {
                & ~ .-glider {
                    transform: translateX(0);
                }
            }
        }

        & input[id="milestones"] {
            &:checked {
                & ~ .-glider {
                    transform: translateX(110%);
                }
            }
        }

        & .-glider {
            position: absolute;
            display: flex;
            padding: 22px;
            width: 200px;
            background-color: var(--accent-primary);
            z-index: 1;
            border-radius: 10px;
            transition: 0.25s ease-out;
        }
    }

    &__timeline {
        margin: auto;
        padding-left: 8px;
        margin-bottom: 20px;
        user-select: none;

        &-item {
            padding: 3em 2em 2em;
            position: relative;
            color: var(--heading-primary);
            border-left: 2.5px solid rgb(97, 97, 97, 0.6);

            .accordion-toggler {
                cursor: pointer;
                transition: 0.4s ease;
            }
              
            .accordion-panel {
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.3s ease-out;
            }
        
            &__title {
                font-family: 'Roboto';
                font-weight: 700;
                color: var(--heading-primary);
                font-size: 2rem;
                margin-bottom: .5em;
                transition: all 0.3s ease;

                &:hover {
                    color: var(--accent-primary) !important;
                    transition: 0.3s ease;
                }
            }
            
            &__content {
                overflow-wrap: break-word;
                font-size: .8rem;
            }
            
            p {
                font-size: 1rem;
            }
            
            &__date {
                position: absolute;
                left: 2em;
                top: 1em;
                display: block;
                font-size: .867rem;
            }
        
            &::after {
                width: 13px;
                height: 13px;
                display: block;
                top: 1em;
                position: absolute;
                left: -7.5px;
                border-radius: 50%;
                content: '';
                // border: 2px solid rgba(black, .3);
                background: var(--accent-primary);
            }

            &__first {
                border-image: linear-gradient(to top, rgba(97, 97, 97, 0.6) 60%, rgba(97, 97, 97, 0)) 1 100%;  
            }
        
            &__last {
            	border-image: linear-gradient(to bottom, rgb(97, 97, 97, 0.6) 60%, rgb(97, 97, 97, 0)) 1 100%
            	;
            }
        }
    }

    &__separator {
        height: 1.5px;
    }
}