// all rules outside of @media queries apply to devices 1201px and above
@media (max-width: 960px) {
    .cron {
        &__container {
            max-width: 720px;
        }
        &__header {
            margin-top: 7%;
            &__text {
                padding: 0 50px;
            }
        }
        &__subheader {
            top: 52px;
        }
    }
}

@media (max-width: 768px) {
    .cron {
        &__container {
            max-width: 680px;
        }
        &__header {
            &__text {
                font-size: 24px;
                padding: 0 50px 0 50px;
            }
        }
        &__subheader {
            top: 70px;
        }
    }
}

@media (max-width: 640px) {
    .cron {
        &__container {
            max-width: 600px;
        }
        &__subheader {
            top: 65px;
        }
    }
}

@media (max-width: 529px) {
    .cron {
        &__header {
            margin-top: 9%;
            &__text {
                font-size: 20px;
                padding: 0 50px 0 50px;
            }
        }
        &__subheader {
            top: 62px;
            &__buttonwrapper {
                &-text {
                    display: none;
                }
            }
        }
        &__heatmap {
            &-header {
                & .mouse-icon{
                    display: none;
                }
                &-text {
                    font-size: 16px;
                }
            }
        }
    }
}

@media (max-width: 465px) {
    .cron {
        &__header {
            height: 130px;
            &__text {
                font-size: 18px;
                padding: 0 30px 0 30px;
            }
        }
        &__info {
            &-text {
                font-size: 16px;
            }
        }
        &__days {
            &-beststreak {
                top: 80%;
                right: 36%;
            }
        }
        &__timeline {
            &-item {
                &__title {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@media (max-width: 425px) {
    .cron {
        &__header {
            margin-top: 60px;
            height: 150px;
        }
        &__days {
            &-beststreak {
                top: 80%;
                right: 34%;
            }
        }
        &__tab {
            & .tab {
                gap: 0;
                font-size: 0;
            }
        }
    }
}