<!-- cron@daily container -->
<div class="cron__container">

    <!-- cron@daily header text -->
    <div class="cron__header">
        <div class="cron__header__text"></div>
    </div>

    <!-- cron@daily streak -->
    <div class="cron__days">
        <div class="cron__days-count">{{streak}}</div>
        <p class="cron__days-text">CONSECUTIVE DAYS</p>

        <div class="cron__days-beststreak">
            <div class="-text">
                <svg class="-streak-icon" 
                xmlns="http://www.w3.org/2000/svg" 
                xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
                    <path d="M24 44c8.235 0 15-6.526 15-14.902c0-2.056-.105-4.26-1.245-7.686c-1.14-3.426-1.369-3.868-2.574-5.984c-.515 4.317-3.27 6.117-3.97 6.655c0-.56-1.666-6.747-4.193-10.45C24.537 8 21.163 5.617 19.185 4c0 3.07-.863 7.634-2.1 9.96c-1.236 2.325-1.468 2.41-3.013 4.14c-1.544 1.73-2.253 2.265-3.545 4.365C9.236 24.565 9 27.362 9 29.418C9 37.794 15.765 44 24 44z" stroke-width="4" stroke-linejoin="round"/>
                </svg>
                <p class="-streak-text">Best :</p>
            </div>
            <div class="-num">
                <p class="-streak-num">{{bestStreak}} days</p>
            </div>
        </div>

        <particles [style]="particleStyle" [width]="width" [height]="height" [params]="particleParams"></particles>
        
        <!-- uncomment if you want the orb-animation -->
        <!-- <div class='orb-wrap'>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
        </div> -->
    </div>
      
    <!-- cron@daily info about cron -->
    <div class="cron__info">
        <p class="cron__info-text">
            Watch this <span>Script Kiddie</span> turning into <span>Omniscient!</span> Know my daily progress.
        </p>
    </div>

    <!-- cron@daily subheader -->
    <div class="cron__subheader">
        <div class="cron__subheader__hintwrapper">
            <svg class="cron__subheader__hintwrapper-icon" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 25 25" fill="inherit">
                <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8 8 0 0 1-8 8z"></path>
                <circle cx="12" cy="8" r="1"></circle>
                <path d="M12 10a1 1 0 0 0-1 1v5a1 1 0 0 0 2 0v-5a1 1 0 0 0-1-1z"></path>
            </svg>
            <p class="cron__subheader__hintwrapper-text">Click on the title to expand</p>
        </div>
        <div class="cron__subheader__buttonwrapper" (click)="collapseAllAccordion()">
            <svg class="cron__subheader__buttonwrapper-icon" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="inherit">
                <path d="M19 9h-2.58l3.29-3.29a1 1 0 1 0-1.42-1.42L15 7.57V5a1 1 0 0 0-1-1 1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h5a1 1 0 0 0 0-2z"></path>
                <path d="M10 13H5a1 1 0 0 0 0 2h2.57l-3.28 3.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0L9 16.42V19a1 1 0 0 0 1 1 1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1z"></path>
            </svg>
            <p class="cron__subheader__buttonwrapper-text">collapse all</p>
        </div> 
    </div>

    <!-- cron@daily tabs -->
    <div class="cron__tabcontainer">
        <div class="cron__tab">
            <input type="radio" id="dailyprogress" name="tabs" value="dailyProgress" 
            [(ngModel)]="tabSelected" (change)="changeTab($event)" checked/>
            <label class="tab" for="dailyprogress">Daily Progress
                <span class="-tab-icon">
                    <svg class="-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <rect width="24" height="24" opacity="0"/>
                        <path d="M18 4h-1V3a1 1 0 0 0-2 0v1H9V3a1 1 0 0 0-2 0v1H6a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3V7a3 3 0 0 0-3-3zM6 6h1v1a1 1 0 0 0 2 0V6h6v1a1 1 0 0 0 2 0V6h1a1 1 0 0 1 1 1v4H5V7a1 1 0 0 1 1-1zm12 14H6a1 1 0 0 1-1-1v-6h14v6a1 1 0 0 1-1 1z"/>
                        <circle cx="8" cy="16" r="1"/>
                        <path d="M16 15h-4a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2z"/>
                    </svg>
                </span>
            </label>
            <span class="-glider"></span>
        </div>

        <div class="cron__tab">
            <input type="radio" id="milestones" name="tabs" value="milestone" 
            [(ngModel)]="tabSelected" (change)="changeTab($event)"/>
            <label class="tab" for="milestones">Milestones
                <span class="-tab-icon">
                    <svg class="-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <rect width="20" height="20" opacity="0"/><path d="M19 20.75l-2.31-9A5.94 5.94 0 0 0 18 8 6 6 0 0 0 6 8a5.94 5.94 0 0 0 1.34 3.77L5 20.75a1 1 0 0 0 1.48 1.11l5.33-3.13 5.68 3.14A.91.91 0 0 0 18 22a1 1 0 0 0 1-1.25zM12 4a4 4 0 1 1-4 4 4 4 0 0 1 4-4zm.31 12.71a1 1 0 0 0-1 0l-3.75 2.2L9 13.21a5.94 5.94 0 0 0 5.92 0L16.45 19z"/>
                    </svg>
                </span>
            </label>
            <span class="-glider"></span>
        </div>
    </div>

    <!-- cron@daily timeline container -->
    <div *ngIf="dailyProgressTab" class="cron__timeline">
        <ng-container *ngFor="let dailyProgress of sortDateList(); let first = first; let last = last">
            <div class="cron__timeline-item">
                <span class="cron__timeline-item__date">{{ dailyProgress.date | date:'longDate' | uppercase }}</span>
                <h1 class="cron__timeline-item__title accordion-toggler" (click)="expandAccordion($event)">{{dailyProgress.title}}</h1>
                <div class="accordion-panel">
                    <hr style="height: 1.5px;">
                    <p class="cron__timeline-item__content">
                        <markdown [src]="dailyProgress.url"></markdown>
                    </p>
                    <hr class="cron__separator">
                </div>
            </div>
        </ng-container>
    </div>

    <!-- cron@daily milestone container -->
    <div *ngIf="!dailyProgressTab" class="cron__timeline">
        <ng-container *ngFor="let dailyProgress of sortDateList(); let first = first; let last = last">
            <div *ngIf="dailyProgress.milestone == true" class="cron__timeline-item">
                <span class="cron__timeline-item__date">
                    <svg class="-flag" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 51.48 51.48" xml:space="preserve">
                        <path d="M9.66,51.48c2.523,0,4.5-2.416,4.5-5.5V27.5h27.732c1.89,0,3.362-0.732,4.039-2.009    c0.678-1.277,0.458-2.907-0.601-4.473l-1.392-2.054c-1.208-1.784-1.194-4.788,0.031-6.56l1.315-1.902    c1.474-2.131,1.034-3.708,0.641-4.458c-0.394-0.75-1.44-2.008-4.032-2.008H13.985C13.471,1.69,11.765,0,9.66,0    C7.137,0,5.161,2.416,5.161,5.5v40.48C5.161,49.064,7.137,51.48,9.66,51.48z M43.266,7.438c0.073,0.139,0.072,0.602-0.451,1.359    L41.5,10.699c-1.921,2.778-1.942,7.147-0.047,9.947l1.392,2.054c0.45,0.665,0.541,1.184,0.435,1.384s-0.586,0.415-1.389,0.415    H14.16V7.037h27.732C42.813,7.037,43.194,7.3,43.266,7.438z M8.161,5.5C8.161,4.069,8.953,3,9.66,3c0.708,0,1.5,1.069,1.5,2.5    v40.48c0,1.431-0.792,2.5-1.5,2.5c-0.707,0-1.499-1.069-1.499-2.5V5.5z"/>   
                    </svg>
                    {{ dailyProgress.date | date:'longDate' | uppercase }}
                </span>
                
                <h1 class="cron__timeline-item__title accordion-toggler" (click)="expandAccordion($event)">{{dailyProgress.title}}</h1>
                <div class="accordion-panel">
                    <hr style="height: 1.5px;">
                    <p class="cron__timeline-item__content">
                        <markdown [src]="dailyProgress.url"></markdown>
                    </p>
                    <hr class="cron__separator">
                </div>
            </div>
        </ng-container>
    </div>
</div>