<!-- cron@daily container -->
<div class="cron__container">

    <!-- cron@daily header text -->
    <div class="cron__header">
        <div class="cron__header__text"></div>
    </div>

    <!-- cron@daily streak -->
    <div class="cron__days">
        <div class="cron__days-count">{{streak}}</div>
        <p class="cron__days-text">CONSECUTIVE DAYS</p>

        <div class="cron__days-beststreak">
            <div class="-text">
                <svg class="-streak-icon" 
                xmlns="http://www.w3.org/2000/svg" 
                xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
                    <path d="M24 44c8.235 0 15-6.526 15-14.902c0-2.056-.105-4.26-1.245-7.686c-1.14-3.426-1.369-3.868-2.574-5.984c-.515 4.317-3.27 6.117-3.97 6.655c0-.56-1.666-6.747-4.193-10.45C24.537 8 21.163 5.617 19.185 4c0 3.07-.863 7.634-2.1 9.96c-1.236 2.325-1.468 2.41-3.013 4.14c-1.544 1.73-2.253 2.265-3.545 4.365C9.236 24.565 9 27.362 9 29.418C9 37.794 15.765 44 24 44z" stroke-width="4" stroke-linejoin="round"/>
                </svg>
                <p class="-streak-text">Best :</p>
            </div>
            <div class="-num">
                <p class="-streak-num">{{bestStreak}} days</p>
            </div>
        </div>

        <app-particle #particle></app-particle>
        
        <!-- uncomment if you want the orb-animation -->
        <!-- <div class='orb-wrap'>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
        </div> -->
    </div>
      
    <!-- cron@daily info about cron -->
    <div class="cron__info">
        <p class="cron__info-text">
            Watch this <span>Script Kiddie</span> turning into <span>Omniscient!</span> Know my daily progress.
        </p>
    </div>

    <!-- cron@daily subheader -->
    <div *ngIf="!heatmapTab" class="cron__subheader">
        <div class="cron__subheader__hintwrapper">
            <svg class="cron__subheader__hintwrapper-icon" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 25 25" fill="inherit">
                <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8 8 0 0 1-8 8z"></path>
                <circle cx="12" cy="8" r="1"></circle>
                <path d="M12 10a1 1 0 0 0-1 1v5a1 1 0 0 0 2 0v-5a1 1 0 0 0-1-1z"></path>
            </svg>
            <p class="cron__subheader__hintwrapper-text">Click on the title to expand</p>
        </div>
        <div class="cron__subheader__buttonwrapper" (click)="collapseAllAccordion()">
            <svg class="cron__subheader__buttonwrapper-icon" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="inherit">
                <path d="M19 9h-2.58l3.29-3.29a1 1 0 1 0-1.42-1.42L15 7.57V5a1 1 0 0 0-1-1 1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h5a1 1 0 0 0 0-2z"></path>
                <path d="M10 13H5a1 1 0 0 0 0 2h2.57l-3.28 3.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0L9 16.42V19a1 1 0 0 0 1 1 1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1z"></path>
            </svg>
            <p class="cron__subheader__buttonwrapper-text">collapse all</p>
        </div> 
    </div>

    <!-- cron@daily tabs -->
    <div class="cron__tabcontainer">

        <div class="cron__tab">
            <input type="radio" id="dailyprogress" name="tabs" value="dailyProgress" 
            [(ngModel)]="tabSelected" (change)="changeTab($event)" checked/>
            <label class="tab" for="dailyprogress">Daily Progress
                <span class="-tab-icon">
                    <svg class="-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <rect width="24" height="24" opacity="0"/>
                        <path d="M18 4h-1V3a1 1 0 0 0-2 0v1H9V3a1 1 0 0 0-2 0v1H6a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3V7a3 3 0 0 0-3-3zM6 6h1v1a1 1 0 0 0 2 0V6h6v1a1 1 0 0 0 2 0V6h1a1 1 0 0 1 1 1v4H5V7a1 1 0 0 1 1-1zm12 14H6a1 1 0 0 1-1-1v-6h14v6a1 1 0 0 1-1 1z"/>
                        <circle cx="8" cy="16" r="1"/>
                        <path d="M16 15h-4a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2z"/>
                    </svg>
                </span>
            </label>
            <span class="-glider"></span>
        </div>

        <div class="cron__tab">
            <input type="radio" id="milestones" name="tabs" value="milestone" 
            [(ngModel)]="tabSelected" (change)="changeTab($event)"/>
            <label class="tab" for="milestones">Milestones
                <span class="-tab-icon">
                    <svg class="-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <rect width="20" height="20" opacity="0"/>
                        <path d="M19 20.75l-2.31-9A5.94 5.94 0 0 0 18 8 6 6 0 0 0 6 8a5.94 5.94 0 0 0 1.34 3.77L5 20.75a1 1 0 0 0 1.48 1.11l5.33-3.13 5.68 3.14A.91.91 0 0 0 18 22a1 1 0 0 0 1-1.25zM12 4a4 4 0 1 1-4 4 4 4 0 0 1 4-4zm.31 12.71a1 1 0 0 0-1 0l-3.75 2.2L9 13.21a5.94 5.94 0 0 0 5.92 0L16.45 19z"/>
                    </svg>
                </span>
            </label>
            <span class="-glider"></span>
        </div>

        <div class="cron__tab">
            <input type="radio" id="heatmap" name="tabs" value="heatmap" 
            [(ngModel)]="tabSelected" (change)="changeTab($event)"/>
            <label class="tab" for="heatmap">Streak Map
                <span class="-tab-icon">
                    <svg class="-icon" xmlns="http://www.w3.org/2000/svg" viewBox="-0.5 -0.5 25 25">
                        <rect width="24" height="24" opacity="0"/>
                        <path d="M5 2a3 3 0 1 0 3 3 3 3 0 0 0-3-3zm0 4a1 1 0 1 1 1-1 1 1 0 0 1-1 1z"/>
                        <path d="M12 2a3 3 0 1 0 3 3 3 3 0 0 0-3-3zm0 4a1 1 0 1 1 1-1 1 1 0 0 1-1 1z"/>
                        <path d="M19 8a3 3 0 1 0-3-3 3 3 0 0 0 3 3zm0-4a1 1 0 1 1-1 1 1 1 0 0 1 1-1z"/>
                        <path d="M5 9a3 3 0 1 0 3 3 3 3 0 0 0-3-3zm0 4a1 1 0 1 1 1-1 1 1 0 0 1-1 1z"/>
                        <path d="M12 9a3 3 0 1 0 3 3 3 3 0 0 0-3-3zm0 4a1 1 0 1 1 1-1 1 1 0 0 1-1 1z"/>
                        <path d="M19 9a3 3 0 1 0 3 3 3 3 0 0 0-3-3zm0 4a1 1 0 1 1 1-1 1 1 0 0 1-1 1z"/>
                        <path d="M5 16a3 3 0 1 0 3 3 3 3 0 0 0-3-3zm0 4a1 1 0 1 1 1-1 1 1 0 0 1-1 1z"/>
                        <path d="M12 16a3 3 0 1 0 3 3 3 3 0 0 0-3-3zm0 4a1 1 0 1 1 1-1 1 1 0 0 1-1 1z"/>
                        <path d="M19 16a3 3 0 1 0 3 3 3 3 0 0 0-3-3zm0 4a1 1 0 1 1 1-1 1 1 0 0 1-1 1z"/>
                    </svg>
                </span>
            </label>
            <span class="-glider"></span>
        </div>
    </div>

    <!-- cron@daily timeline container -->
    <div *ngIf="dailyProgressTab" class="cron__timeline">
        <ng-container *ngFor="let dailyProgress of sortDateList(); let first = first; let last = last">
            <div class="cron__timeline-item" [ngClass]="{'-first-child': first, '-last-child':last}">
                <span class="cron__timeline-item__date">{{ dailyProgress.date | date:'longDate' | uppercase }}</span>
                <h1 class="cron__timeline-item__title accordion-toggler" (click)="expandAccordion($event)">{{dailyProgress.title}}</h1>
                <div class="accordion-panel">
                    <hr style="height: 1.5px;">
                    <p class="cron__timeline-item__content">
                        <markdown [src]="dailyProgress.url"></markdown>
                    </p>
                    <hr class="cron__separator">
                </div>
            </div>
        </ng-container>
        <div *ngIf="loadMore" class="cron__timeline-loadmore">
            <a class="cron__timeline-loadmore-btn" (click)="loadmore()">Load more
                <svg class="loadmore-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <rect width="24" height="24" opacity="0"/>
                    <path d="M20.3 13.43a1 1 0 0 0-1.25.65A7.14 7.14 0 0 1 12.18 19 7.1 7.1 0 0 1 5 12a7.1 7.1 0 0 1 7.18-7 7.26 7.26 0 0 1 4.65 1.67l-2.17-.36a1 1 0 0 0-1.15.83 1 1 0 0 0 .83 1.15l4.24.7h.17a1 1 0 0 0 .34-.06.33.33 0 0 0 .1-.06.78.78 0 0 0 .2-.11l.09-.11c0-.05.09-.09.13-.15s0-.1.05-.14a1.34 1.34 0 0 0 .07-.18l.75-4a1 1 0 0 0-2-.38l-.27 1.45A9.21 9.21 0 0 0 12.18 3 9.1 9.1 0 0 0 3 12a9.1 9.1 0 0 0 9.18 9A9.12 9.12 0 0 0 21 14.68a1 1 0 0 0-.7-1.25z"/>
                </svg>
            </a>

            <a class="cron__timeline-loadmore-btn" (click)="loadall()">Load all
                <svg class="loadall-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <rect width="24" height="24" opacity="0"/>
                    <path d="M14.31 16.38L13 17.64V12a1 1 0 0 0-2 0v5.59l-1.29-1.3a1 1 0 0 0-1.42 1.42l3 3A1 1 0 0 0 12 21a1 1 0 0 0 .69-.28l3-2.9a1 1 0 1 0-1.38-1.44z"/><path d="M17.67 7A6 6 0 0 0 6.33 7a5 5 0 0 0-3.08 8.27A1 1 0 1 0 4.75 14 3 3 0 0 1 7 9h.1a1 1 0 0 0 1-.8 4 4 0 0 1 7.84 0 1 1 0 0 0 1 .8H17a3 3 0 0 1 2.25 5 1 1 0 0 0 .09 1.42 1 1 0 0 0 .66.25 1 1 0 0 0 .75-.34A5 5 0 0 0 17.67 7z"/>
                </svg>
            </a>
        </div>
    </div>

    <!-- cron@daily milestone container -->
    <div *ngIf="milestonesTab" class="cron__timeline">
        <ng-container *ngFor="let dailyProgress of sortDateList(); let first = first; let last = last">
            <div *ngIf="dailyProgress.milestone == true" class="cron__timeline-item" [ngClass]="{'-first-child': first, '-last-child':last}">
                <span class="cron__timeline-item__date">
                    <svg class="-flag" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <polyline points="24 24 0 24 0 0" opacity="0"/>
                        <path d="M19.27 4.68a1.79 1.79 0 0 0-1.6-.25 7.53 7.53 0 0 1-2.17.28 8.54 8.54 0 0 1-3.13-.78A10.15 10.15 0 0 0 8.5 3c-2.89 0-4 1-4.2 1.14a1 1 0 0 0-.3.72V20a1 1 0 0 0 2 0v-4.3a6.28 6.28 0 0 1 2.5-.41 8.54 8.54 0 0 1 3.13.78 10.15 10.15 0 0 0 3.87.93 7.66 7.66 0 0 0 3.5-.7 1.74 1.74 0 0 0 1-1.55V6.11a1.77 1.77 0 0 0-.73-1.43zM18 14.59a6.32 6.32 0 0 1-2.5.41 8.36 8.36 0 0 1-3.13-.79 10.34 10.34 0 0 0-3.87-.92 9.51 9.51 0 0 0-2.5.29V5.42A6.13 6.13 0 0 1 8.5 5a8.36 8.36 0 0 1 3.13.79 10.34 10.34 0 0 0 3.87.92 9.41 9.41 0 0 0 2.5-.3z"/>
                    </svg>

                    {{ dailyProgress.date | date:'longDate' | uppercase }}
                </span>
                
                <h1 class="cron__timeline-item__title accordion-toggler" (click)="expandAccordion($event)">{{dailyProgress.title}}</h1>
                <div class="accordion-panel">
                    <hr style="height: 1.5px;">
                    <p class="cron__timeline-item__content">
                        <markdown [src]="dailyProgress.url"></markdown>
                    </p>
                    <hr class="cron__separator">
                </div>
            </div>
        </ng-container>
        <div *ngIf="loadMore" class="cron__timeline-loadmore">
            <a class="cron__timeline-loadmore-btn" (click)="loadmore()">Load more
                <svg class="loadmore-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <rect width="24" height="24" opacity="0"/>
                    <path d="M20.3 13.43a1 1 0 0 0-1.25.65A7.14 7.14 0 0 1 12.18 19 7.1 7.1 0 0 1 5 12a7.1 7.1 0 0 1 7.18-7 7.26 7.26 0 0 1 4.65 1.67l-2.17-.36a1 1 0 0 0-1.15.83 1 1 0 0 0 .83 1.15l4.24.7h.17a1 1 0 0 0 .34-.06.33.33 0 0 0 .1-.06.78.78 0 0 0 .2-.11l.09-.11c0-.05.09-.09.13-.15s0-.1.05-.14a1.34 1.34 0 0 0 .07-.18l.75-4a1 1 0 0 0-2-.38l-.27 1.45A9.21 9.21 0 0 0 12.18 3 9.1 9.1 0 0 0 3 12a9.1 9.1 0 0 0 9.18 9A9.12 9.12 0 0 0 21 14.68a1 1 0 0 0-.7-1.25z"/>
                </svg>
            </a>

            <a class="cron__timeline-loadmore-btn" (click)="loadall()">Load all
                <svg class="loadall-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <rect width="24" height="24" opacity="0"/>
                    <path d="M14.31 16.38L13 17.64V12a1 1 0 0 0-2 0v5.59l-1.29-1.3a1 1 0 0 0-1.42 1.42l3 3A1 1 0 0 0 12 21a1 1 0 0 0 .69-.28l3-2.9a1 1 0 1 0-1.38-1.44z"/><path d="M17.67 7A6 6 0 0 0 6.33 7a5 5 0 0 0-3.08 8.27A1 1 0 1 0 4.75 14 3 3 0 0 1 7 9h.1a1 1 0 0 0 1-.8 4 4 0 0 1 7.84 0 1 1 0 0 0 1 .8H17a3 3 0 0 1 2.25 5 1 1 0 0 0 .09 1.42 1 1 0 0 0 .66.25 1 1 0 0 0 .75-.34A5 5 0 0 0 17.67 7z"/>
                </svg>
            </a>
        </div>
    </div>

    <!-- cron@daily streakmap container -->
    <div class="cron__timeline -nopadding" [ngClass]="{'cron__heatmap-display': heatmapTab, 'cron__heatmap-hide': !heatmapTab}">
        <div class="cron__heatmap-header">
            <div class="cron__heatmap-header-wrapper">
                <div class="cron__subheader__hintwrapper">
                    <svg class="cron__subheader__hintwrapper-icon" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 25 25" fill="inherit">
                        <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8 8 0 0 1-8 8z"></path>
                        <circle cx="12" cy="8" r="1"></circle>
                        <path d="M12 10a1 1 0 0 0-1 1v5a1 1 0 0 0 2 0v-5a1 1 0 0 0-1-1z"></path>
                    </svg>
                    <p class="cron__subheader__hintwrapper-text">Daily progress calendar map - {{heatmapLatestYear}}</p>
                </div>
                <div class="cron__subheader__buttonwrapper" (click)="collapseAllAccordion()">
                </div> 
            </div>
            <!-- <div class="mouse-icon">
                <span class="mouse-wheel"></span>
            </div> -->
        </div>
        <div id="cron__heatmap-container" class="cron__heatmap-container"></div>
    </div>
</div>
